.sdg-goal-tag-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;

  li {
    display: inline-block;
    margin-bottom: 1ch;

    &:not(:last-child) {
      padding-right: 1ch;
    }
  }
}
